--data-urlencode orgname={{ RegInfo_OrganisationName }} --data-urlencode firstName={{ RegInfo_FirstName }} --data-urlencode lastName={{ RegInfo_LastName }} --data-urlencode username={{ RegInfo_UserName }} --data-urlencode password={{ RegInfo_Password }} --data-urlencode gmailUsername={{ RegInfo_GmailUser | default ("") }} --data-urlencode gmailPassword={{ RegInfo_GmailPassword | default ("") }} --data-urlencode adminGroup={{ RegInfo_AdminGroup | default ("Admins") }} --data-urlencode usersGroup={{ RegInfo_UserGroup | default ("Users") }} --data-urlencode storageFolder={{ RegInfo_StorageFolder }} --data-urlencode awsAccessKey={{ RegInfo_AWSAccessKey | default ("") }} --data-urlencode awsSecretKey={{ RegInfo_AWSSecretKey | default ("") }} --data-urlencode awsDomainName={{ RegInfo_AWSDomainName | default("") }} --data-urlencode awsGlacierVaultName={{ RegInfo_AWSGlacierVaultName | default("") }}